sample/sampleProject/sampleProject.xcodeproj/xcuserdata/entaku.xcuserdatad/xcschemes/xcschememanagement.plist
sample/sampleProject/sampleProject.xcodeproj/project.xcworkspace/xcuserdata/entaku.xcuserdatad/UserInterfaceState.xcuserstate
DynamicLinkSDK/.swiftpm/xcode/xcuserdata/entaku.xcuserdatad/xcschemes/xcschememanagement.plist
